<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BagOfHolding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BagOfHolding.Properties.Settings>
            <setting name="consoleBackColor" serializeAs="String">
                <value>60, 62, 84</value>
            </setting>
            <setting name="consoleForeColor" serializeAs="String">
                <value>243, 247, 124</value>
            </setting>
            <setting name="windowContColor" serializeAs="String">
                <value>169, 66, 76</value>
            </setting>
            <setting name="windowButtColor" serializeAs="String">
                <value>84, 51, 51</value>
            </setting>
            <setting name="windowToolColor" serializeAs="String">
                <value>185, 173, 63</value>
            </setting>
        </BagOfHolding.Properties.Settings>
    </userSettings>
</configuration>