<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BagOfHolding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BagOfHolding.Properties.Settings>
            <setting name="consoleBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="consoleForeColor" serializeAs="String">
                <value>InactiveBorder</value>
            </setting>
            <setting name="windowContColor" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="windowButtColor" serializeAs="String">
                <value>230, 100, 100</value>
            </setting>
            <setting name="windowToolColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
        </BagOfHolding.Properties.Settings>
    </userSettings>
</configuration>